{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  {% block title %}<title>Cotações</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'cotacoes_app/css/bootstrap.min.css' %}">
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"> -->

  {% endblock %}
  {% block js %}
  <link type="text/javascript" href="{% static 'cotacoes_app/js/bootstrap.min.js' %}">
  {% endblock %}
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 ">{% block content %}{% endblock %}</div>
    </div>
  </div>
</body>
</html>

