{% extends 'cotacoes_app/base.html' %}

{% block css %}
{{ block.super }}
<style>
  .invalido-feedback {
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: #dc3545;
  }
</style>
{% endblock css %}

{% block js %}
    {{ block.super }}
    <script src="https://code.highcharts.com/highcharts.js"></script>
{% endblock js %}


{% block title %}{% endblock title %}
  
{% block content %}

    <div id="container"></div>
    <script>
      Highcharts.chart('container', {
          chart: {
              type: 'column'
          },
          title: {
              text: 'Cotação do Real em relação ao {{object.get_moeda_base_display}}'
          },
          xAxis: {
              categories: ['Real',]
          },
          series:
          [
          {% for cotacao_dia in object.get_cotacao_entre_data_inicial_e_final %}
            {
                name: '{{cotacao_dia.0|date:"SHORT_DATE_FORMAT"}}',
                data: [{{cotacao_dia.1|stringformat:".5f" }}]
            },
          {% endfor %}
        ]
      });
    </script>


<form method="post" action="{% url 'cotacoes_app:index' %}" class="row g-3">
    {% csrf_token %}
    <!-- {{ form.as_p }} -->

      <div class="col-md-6">
        {{ form.data_inicial.label_tag }}
        {{ form.data_inicial }}
        {% if form.data_inicial.errors %}
          <ol>
            {% for error in form.data_inicial.errors %}
                <li class="invalido-feedback"><strong>{{ error|escape }}</strong></li>
            {% endfor %}
          </ol>
        {% endif %}
      </div>

      <div class="col-md-6">
        {{ form.data_final.label_tag }}
        {{ form.data_final }}
        {% if form.data_final.errors %}
          <ol>
            {% for error in form.data_final.errors %}
                <li class="invalido-feedback"><strong>{{ error|escape }}</strong></li>
            {% endfor %}
          </ol>
        {% endif %}    
      </div>
      


      <div class="col-md-6">
        {{ form.moeda_base.label_tag }}
        {{ form.moeda_base }}
        {% if form.moeda_base.errors %}
          <ol>
            {% for error in form.moeda_base.errors %}
                <li class="invalido-feedback"><strong>{{ error|escape }}</strong></li>
            {% endfor %}
          </ol>
        {% endif %}   
      </div>

      <div class="col-md-12; text-center">
        <button type="submit" class="btn btn-primary">Enviar</button>
      </div>

</form>

{% endblock content %}


